Build started...
Build succeeded.
The Entity Framework tools version '9.0.0' is older than that of the runtime '9.0.1'. Update the tools for the latest features and bug fixes. See https://aka.ms/AAc1fbw for more information.
CREATE TABLE IF NOT EXISTS "__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL,
    CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId")
);

START TRANSACTION;
CREATE TABLE prodcart (
    "Id" integer GENERATED BY DEFAULT AS IDENTITY,
    "userId" text NOT NULL,
    "productId" integer NOT NULL,
    "addedDate" timestamp without time zone NOT NULL,
    "productName" text NOT NULL,
    CONSTRAINT "PK_prodcart" PRIMARY KEY ("Id")
);

CREATE TABLE product (
    "Id" integer GENERATED BY DEFAULT AS IDENTITY,
    "ProductName" text NOT NULL,
    "Category" text NOT NULL,
    "Size" text,
    "Price" numeric(18,2) NOT NULL,
    "Stocks" numeric(18,2) NOT NULL,
    "Image" text,
    CONSTRAINT "PK_product" PRIMARY KEY ("Id")
);

CREATE TABLE "user" (
    "Id" integer GENERATED BY DEFAULT AS IDENTITY,
    "Username" character varying(50) NOT NULL,
    "Email" character varying(100),
    "Password" text NOT NULL,
    "UserType" character varying(20),
    CONSTRAINT "PK_user" PRIMARY KEY ("Id")
);

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20250310065309_InitialCreate', '9.0.1');

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20250310094756_addtorailway', '9.0.1');

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20250313065019_adddbtosupabase', '9.0.1');

ALTER TABLE prodcart ADD category text NOT NULL DEFAULT '';

ALTER TABLE prodcart ADD image text;

ALTER TABLE prodcart ADD size text;


COMMIT;


